.grid-container {
  height: 100vh;
  width: 100%;
  // display: grid;
  display: none;
  grid-template-columns: repeat(12, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  .grid {
    border-right: 1px solid #e2e2e2;
  }
  & > .grid:last-child {
    border: none;
  }
}