.table {
  border-collapse: collapse;
  width: 70%;
  margin: 2rem auto;

  thead {
    background-color: $primary-color;
    color: #fff;
  }
  & th {
    border-right: 1px solid #dfdfdf;
    text-align: start;
    padding: .4rem;
    font-weight: 400;
  }

  tbody > tr td{
    border: 1px solid #dfdfdf;
    padding: .2rem .4rem;
  }
  tbody > tr:nth-child(even) {
    background-color: #dfdfdf;
  }
  tbody > tr:hover {
    background-color: #c7c7c7;
  }
}